:root{
    --cortema: #4CAF50;
    --corhover:#0f7915; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
}

nav {
    display: flex;
    justify-content: center; /* links à esquerda, botão à direita */
    align-items: center;
    background-color: #333;
    padding: 0.5rem 1rem;
    flex-wrap: wrap; /* para responsividade */
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
    text-align: center;
}

nav a:hover{
    color: var(--corhover);
}

nav .links {
    display: flex;
    gap: 2rem;
}

#sair {
    position: absolute;
    right: 1rem;  
    padding: 5px 12px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.3s;
    cursor: pointer;
}

#sair i{
    position: relative;
    margin-left: 6px;
    top: 2px;
}

#sair:hover {
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #034611;
}


.card{
    position: relative;
    padding: 20px;
    border: none;
    background-color: var(--cortema);
    border-radius: 20px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid black;
    background-image: url(/Imgs/card_img.jpg);
    background-size: cover;
    color: white;
}

.card:hover {
    transform: translateY(-8px);
    cursor: pointer;
}


.container{
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
}

.contato{
    padding: 30px;
    border: 1px solid black;
    border-radius: 30px;
    position: absolute;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
    width: 550px;
    text-align: center;
}


.contato .title {
    font-size: 27px;
    color: #000;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    width: 100%;
    margin: 10px;
}   

.contato a {
    display: block;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
    text-align: left;
}   

.contato a:hover {
    background-color: #e2e2e2;
}

#sair-dialog{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
